doctype html
html
  head
    title VICTOR MANOTAS
    meta(name='author', content='Víctor H. Manotas G.')
    link(rel='stylesheet', type='text/css' href='css/my_styles.css')
  body
    h1 VICTOR MANOTAS
    .figure
      p
        img(src='./images/portada.png', alt='portada.png')
    h2 Ver en otros idiomas
      ul
        li
          a(href='./index-en.html') Inglés
          | .
        li
          a(href='./index-pt.html') Portugués
          | .
    h2 Acerca de Mi
    p
      img(src='./images/fotovic.png', alt='fotovic.png')
      |  Msc. en Ciencias Físicas de la 
      a(href='https://www.usp.br') Universidad de Saõ Paulo
      |  (Brasil). Biólogo de la 
      a(href='https://www.uniatlantico.edu.co') Universidad del Atlántico 
      | (Colombia, Barranquilla).
      | Programador autodidacta (Python, Haskell, JavaScript, Lisp (Scheme), 
      | C y otros). Jugador de ajedrez (Intermedio - Avanzado). Entusiasta 
      | del Sofware Libre GNU/Linux (debian (ubuntu,mint), ArchLinux, OpenSuse).
    h2 Proyectos e intereses
    ul
      li Modelo de ejemplo, Ising.
      li Modelo de ejemplo, Corrimiento del Perihelio de Mercurio
      li
        | Manejador de 
        a(href='https://github.com/victaum1/contravic') Contraseñas 
        | Personales.
      li
        | Máquina de 
        a(href='https://github.com/victaum1/crak_chess') ajedrez 
        | en Haskell.
      li
        | Mini Curso de 
        a(href='./octave1.html') Octave
        | .
      li Curso de Física Básica.
      li Curso de Estadística Básica/Inferencial.
      li Laboratorios Virtuales (Proyectiles).
      li Interpretación de la Mecánica Cuántica (EPR, Boom).
      li IA.
      li Redes Neuronales
    h2 Videos Interesantes
    p.
      continuación presento algunos Canales de Videos que presentan tópicos
      interesantes.
    ul
      li A Minute of Physics: YouTube, Lbry.
      li Date Un Vlog.
      li Esquizofrenia Natural.
      li Art of the Problem.
      li Veritasium: YouTube, Lbry.
      li 3Blue1Brown.
      li Computerphile.
      li Luke Smith: YouTube, Lbry.
    h2 Libros Interesantes
    ul
      li Cien Años de Soledad.
      li Dunas.
      li Estructura e Interpretación de Programas de Computadora.
      li Eso.
      li Apocalipsis.
      li Fundación.
      li Criado Por Lobos.
      li Juego de Tronos.
    h2 Canciones Preferidas
    p
      | Mi lista de canciones preferidas de en 
      a(href='https://open.spotify.com/playlist/1Z9jhsueg4Hvn0Vxq1YfBa') Spotify
      |.
    h2 Educación en Línea
    p Sitios en de educación línea atrayentes para mi.
    ul
     li
       a(href='https://www.edx.org') Edx
       | .
     li
       a(href='https://www.platzi.com') Platzi
       | .
    h2 Contacto
    ul
      li
        a(href='mailto:victorma31@gmail.com') Correo Electrónico
        | .
      li
        a(href='https://twitter.com/vmanots') Twitter
        | .
      li
        a(href='https://www.facebook.com/vmanots') FaceBook
        | .
