doctype html
html
  head
    title VICTOR MANOTAS
    meta(name='author', content='Víctor H. Manotas G.')
    link(rel='stylesheet', type='text/css' href='css/my_styles.css')
  body
    h1 VICTOR MANOTAS
    .figure
      p
        img(src='./images/portada.png', alt='portada.png')
    h2 View in other Languages
      ul
        li
          a(href='./index-es.html') Spanish
          | .
        li
          a(href='./index-pt.html') Portuguese
          | .
    h2 About Me
    p
      img(src='./images/fotovic.png', alt='fotovic.png')
      |  Msc. of Physical Sciences from the 
      a(href='https://www.usp.br') Universidad de Saõ Paulo
      |  (Brasil). Biologist from the 
      a(href='https://www.uniatlantico.edu.co') Universidad del Atlántico 
      | (Colombia, Barranquilla).
      | Autodidact programmer  (Python, Haskell, JavaScript, Lisp (Scheme), 
      | C and others). Chess Player (Intermediate - Advanced). Free Software 
      | Enthusiastic of GNU/Linux (debian (ubuntu,mint), ArchLinux, OpenSuse).
    h2 Projects and Likeables
    ul
      li Toy Model, Ising.
      li Example Model, Dragging of the Perihelium of Mercury.
      li
        | Personal  
        a(href='https://github.com/victaum1/contravic') Passwords 
        | Manager.
      li
        a(href='https://github.com/victaum1/crak_chess') Chess
        |  Engine in Haskell.
      li
        a(href='./octave1.html') Octave
        | Mini-Curse.
      li Basics of a Physics's Curse.
      li Basics of a Statistic/Inferential Curse.
      li Virtual Labs (Projectiles).
      li Interpretation of Quantum Mechanics (EPR, Boom).
      li IA.
      li Neural Networks.
    h2 Videos I like
    p Next I present some Video Channels that show interesting topics.
    ul
      li A Minute of Physics: YouTube, Lbry.
      li Date Un Vlog.
      li Esquizofrenia Natural.
      li Art of the Problem.
      li Veritasium: YouTube, Lbry.
      li 3Blue1Brown.
      li Computerphile.
      li Luke Smith: YouTube, Lbry.
    h2 Books of Interest
    p Next a list of books that I have read or I should read.
    ul
      li 100 years of Solitude.
      li Dune.
      li Structure And Interpretation of Computer Programs.
      li It.
      li The Stand.
      li Foundation.
      li Raised by Wolves.
      li Game of Thrones.
    h2 My Songs
    p
      | My list song preferences in 
      a(href='https://open.spotify.com/playlist/1Z9jhsueg4Hvn0Vxq1YfBa') Spotify
      |.
    h2 OnLine Education
    p Some educational web sites that attracts me.
    ul
     li
       a(href='https://www.edx.org') Edx
       | .
     li
       a(href='https://www.platzi.com') Platzi
       | .
    h2 Contact
    ul
      li
        a(href='mailto:victorma31@gmail.com') E-mail
        | .
      li
        a(href='https://twitter.com/vmanots') Twitter
        | .
      li
        a(href='https://www.facebook.com/vmanots') FaceBook
        | .
