doctype html
html
  head
    title VICTOR MANOTAS
    meta(name='author', content='Víctor H. Manotas G.')
    link(rel='stylesheet', type='text/css' href='css/my_styles.css')
  body
    h1 VICTOR MANOTAS
    .figure
      p
        img(src='./images/portada.png', alt='portada.png')
    h2 Veja em outros idiomas
      ul
        li
          a(href='./index-en.html') Inglês
          | .
        li
          a(href='./index-es.html') Espanhol
          | .
    h2 Sobre mim
    p
      img(src='./images/fotovic.png', alt='fotovic.png')
      | Mestre em Ciências Físicas pela 
      a(href="https://www.usp.br") Universidade de São Paulo 
      | (Brasil). Biólogo da 
      | a(href="https://www.uniatlantico.edu.co") Universidad del Atlántico
      |  (Colômbia, Barranquilla). Programador Autodidata (Python, Haskell, 
      | JavaScript, Lisp (Scheme), C e outros). Jogador de Xadrez 
      | (intermediário - avançado). Entusiasta de Software GNU / Linux Livre 
      | (debian (ubuntu, mint), ArchLinux, OpenSuse).
    h2 Projetos e interesses
    ul
      li Exemplo de modelo, Ising.
      li Modelo de exemplo, mudança do periélio de mercúrio.
      li
        | Manipulador de 
        a(href='https://github.com/victaum1/contravic') Senhas 
        | Pessoal.
      li
        | Máquina  
        a(href='https://github.com/victaum1/crak_chess') xadrez  
        | em Haskell.
      li
        | Cursinho de  
        a(href='./octave1.html') Octave
        | .
      li Curso Básico de Física.
      li Curso de Estatística Básica / Inferencial.
      li Laboratórios virtuais (projéteis).
      li Interpretação da Mecânica Quântica (EPR, Boom).
      li IA.
      li Redes neurais.
    h2 Vídeos interessantes
    p.
      Aqui estão alguns canais de vídeo que apresentam tópicos interessantes.
    ul
      li A Minute of Physics: YouTube, Lbry.
      li Date Un Vlog.
      li Esquizofrenia Natural.
      li Art of the Problem.
      li Veritasium: YouTube, Lbry.
      li 3Blue1Brown.
      li Computerphile.
      li Luke Smith: YouTube, Lbry.
    h2 Livros interessantes
    ul
      li Cem anos de Solidão.
      li Dunas.
      li Estrutura e Interpretação de Programas de Computador.
      li Isso.
      li Dança da Morte.
      li Fundação.
      li Criado por Lobos.
      li Jogo dos tronos.
    h2 Minhas músicas
    p
      | Minha lista de músicas favoritas em 
      a(href='https://open.spotify.com/playlist/1Z9jhsueg4Hvn0Vxq1YfBa') Spotify
      |.
    h2 Educação online
    p Eu apresento os atraentes sites de educação online para mim.
    ul
     li
       a(href='https://www.edx.org') Edx
       | .
     li
       a(href='https://www.platzi.com') Platzi
       | .
    h2 Contato
    ul
      li
        a(href='mailto:victorma31@gmail.com') Correio eletrônico
        | .
      li
        a(href='https://twitter.com/vmanots') Twitter
        | .
      li
        a(href='https://www.facebook.com/vmanots') FaceBook
        | .
